.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-col{
    flex-direction: column;
}

.gap2rem{
    gap: 2rem;
}

.gap1rem{
    gap: 1rem;
}


.height100vh{
    height: 100vh;
}

.height200vh{
    height: 200vh;
}

.input-box{
padding: 1rem 1rem;
border-radius: 0.6rem;
border: none;
width: 100%;
}

.btn{
    padding: 0.6rem 2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.disabled{
    opacity: 0.8;
    cursor: not-allowed;
}

.grid{
    display: grid;
}

.padding2rem{
    padding: 2rem;
}

.max-width100{
min-width: 100%;
}

.thin-hr{
border: none;
border-top: 1px solid var(--shadow-grey);
height: 1px;
margin: 2rem 0rem;
}

.background{
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--black);
    color: var(--white);
}

.header{
    font-weight: 600;
    font-size: 1.3rem;
}

input:focus{
    outline: none;
}


